Code/WCFClient/Service References/Mobile/FKServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44316/FKServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FKWCFServices" />
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppointmentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VisitorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VisitorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VisitorIdCard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VisitorMobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushAppointmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoorRecord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoorRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FKWCFServices" minOccurs="0" name="GetDoorRecordResult" nillable="true" type="q1:ArrayOfTimeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>