Code/WCFClient/Service References/Mobile/FKServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FKWCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FKWCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTimeList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeList" nillable="true" type="tns:TimeList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeList" nillable="true" type="tns:ArrayOfTimeList" />
  <xs:complexType name="TimeList">
    <xs:sequence>
      <xs:element minOccurs="0" name="BMCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BMName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BMType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwipeTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeList" nillable="true" type="tns:TimeList" />
</xs:schema>